*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: hsl(0,0%,5.88%);
}

/* 
Modificaciones de la estructura del menu de navegacion donde se le ponen micro animaciones y definicion de unos hovers */
.menu{
    background-color: hsl(0,0%,5.88%);
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.menu *{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #7B3713;
    border: 1px #3C1A07 solid;
    color:whitesmoke;
    font-size: 50px;
    font-family: "Italianno", cursiva;
}

a{
    text-decoration: none;
    border:0;
    width: 100%;
    height: 100%;
}

.lo{
    background-color: hsl(0,0%,5.88%);
    border: none;
}

.in{
    border-radius: 0 0 0 60%;
    
}

.me{
    animation: me 6s linear infinite;
}

.logo{
    width: 50%;
    height: 95%;
    border-radius: 50%;
    animation: borde 6s linear infinite;
    
}

.in,.ac,.le{
    transition: all 0.5s;
}

.in:hover{
    box-shadow: inset 0 0 10px 5px rgb(161, 161, 161);
}

.ac:hover{
    box-shadow: inset 0 0 10px 5px rgb(161, 161, 161);   
}

.le:hover{
    box-shadow: inset 0 0 10px 5px rgb(161, 161, 161);
    
}

/* Modifacion de los elementos de los productos que ofrece la cafeteria */

.elementos{
    display: grid;
    padding: 10px;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(10,1fr);
    background-image: url("imagenes2/R.png");
    background-repeat: no-repeat;
    gap: 10px;
    min-height: 100vh;
    
}

.elementos *{
    display: flex;
    flex-basis: 100%;
    background-color: rgb(63, 25, 1);
}

.cafes,.heladas,.comida,.postres{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 5px;
}

.cafes *,.heladas *,.comida *,.postres *{
    border: solid rgba(0, 0, 0, 0.507) 1px;    
    background-color: #8a3e15;
}

.cafes{
    grid-row: 1/4;
    grid-column: 1/6;
}

.heladas{
    grid-row: 1/4;
    grid-column: 6/11;
}
.comida{
    grid-row: 4/7;
    grid-column: 1/6;
}
.postres{
    grid-row: 4/7;
    grid-column: 6/11;
}
.c1,.h2,.co1,.p2{
    border-radius: 100%;
}

.c2,.h1,.co2,.p1{
    display: flex;
    flex-flow: wrap row;
    align-content: center;
    justify-content: center;
    gap:5px;
}

.titulo{
    font-weight: bold;
    color:tan;
    border: none;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista{
    flex-basis: 100%;
    border:none;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 17px;
    color: ghostwhite;
    padding-left: 5px;
    font-family: "kalam",cursiva;
}

.c1{
    background-image:url("imagenes2/c740dd9f-b4dd-46a8-9251-0575faaae57b.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.h2{
    background-image: url("imagenes2/28385bad-6f94-4cf4-9a46-21c8834501a1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.co1{
    background-image: url("imagenes2/sweet_cake_food_restaurant_cafe_iss_z_chocolate-854464.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.p2{
    background-image: url("imagenes2/e9a756d0-e45b-4d0c-9f9d-d5ac24690696.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Modificaciones realizadas en el pie de la pagina y a los iconos */

.artC1{
    color: ghostwhite;
    font-family: "Italianno", cursiva;
    font-size: 50px;
    text-align: center;
    padding-top: 5px;
    opacity: 0.8;
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #7B3713, 0 0 70px #7B3713, 0 0 80px #7B3713, 0 0 150px #7B3713;
}

.copyright{
    width: 100%;
    height: 20vh;
    
}
.icons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.icons>div>a>svg{
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons>div>a>svg{
    border-radius: 50%;
}
.icons>div>a>svg:hover{
    animation: iconos 5s forwards ;
}


/* Creacion de las animaciones */


/* Animacion en los bordes del logo de la empresa */

@keyframes borde{
    0%{
        filter:drop-shadow(0px 0px 15px rgb(114, 45, 18));
    }

    50%{
        filter:drop-shadow(0px 0px 15px rgb(197, 189, 189));
    }

    75%{
        filter:drop-shadow(0px 0px 15px rgb(119, 44, 0));
    }

    100%{
        filter:drop-shadow(0px 0px 15px rgb(114, 45, 18));
    }
}

/* Animacion asignada a la caja segun sea la pagina que se esta observando */

@keyframes me{
    0%{
        box-shadow: inset 0 0 10px 5px rgb(119, 44, 0)
    }

    50%{
        box-shadow: inset 0 0 10px 5px rgb(27, 27, 27);
    }

    100%{
        box-shadow: inset 0 0 10px 5px rgb(119, 44, 0)
    }
}

/* Animacion de los iconos al poner el cursor encima de ellos  */
@keyframes iconos {
    0%{
        width: 40px;
        height: auto;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
    }
    50%{
        opacity: 100%;
        width: 45px;
        height: auto;
        box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
    }
    100%{
        opacity: 100%;
        width: 45px;
        height: auto;
        box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
    }
}

/* Creacion de parte adaptable a dispositivos mobiles */

@media only screen and (max-width:436px){
    .menu *{
        font-size: 25px;
    }
    .logo{
        width: 100%;
        height: 100%;
    }

    .lo{
        scale: 0.9;
    }

    .elementos{
        grid-template-rows: repeat(4,1fr);
    }

    .lista{
        font-size: 12px;
    }

    .c1,.h2,.co1,.p2{
        border-radius: 100%;
    }

    .titulo{
        font-size: 20px;
    }

    .cafes,.heladas,.comida,.postres{
        height: 200px;
    }

    .cafes{
        grid-row: 1/2;
        grid-column: 1/11;
    }
    
    .heladas{
        grid-row: 3/4;
        grid-column: 1/11;
    }
    .comida{
        grid-row: 2/3;
        grid-column: 1/11;
    }
    .postres{
        grid-row: 4/5;
        grid-column: 1/11;
    }

    .c1{
        grid-column: 1/2;
    }

    .c2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
   
    .h1{
        grid-column: 2/3;
    }

    .h2{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .co1{
        grid-column: 1/2;
    }

    .co2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
   
    .p1{
        grid-column: 2/3;
    }

    .p2{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    
}

/* parte reponsive en tablets */

@media only screen and (max-width:740px){
    .menu *{
        font-size: 35px;
    }

    .lista{
        font-size: 15px;
    }

    .titulo{
        font-size: 25px;
    }

    .c1,.h2,.co1,.p2{
        height: 90%;
    }
}

